<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Json_Editor.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Json_Editor.Properties.JEapp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Json_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Json_Editor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Json_Editor.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Json_Editor.Properties.JEapp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Json_Editor.Properties.Settings1>
            <setting name="MarginBackcolor" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="CaretStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="uEditorBC" serializeAs="String">
                <value>63, 63, 63</value>
            </setting>
            <setting name="uLineNumBc" serializeAs="String">
                <value>12, 12, 12</value>
            </setting>
            <setting name="uLineNumFc" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DeFont" serializeAs="String">
                <value>Helvetica, 12pt</value>
            </setting>
            <setting name="Dforecolor" serializeAs="String">
                <value>White</value>
            </setting>
        </Json_Editor.Properties.Settings1>
        <Json_Editor.Properties.JEapp>
            <setting name="StartLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Json_Editor.Properties.JEapp>
        <Json_Editor.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>32, 32, 32</value>
            </setting>
        </Json_Editor.Properties.Settings>
        <Json_Editor.Settings1>
            <setting name="MarginBackcolor" serializeAs="String">
                <value>12, 12, 12</value>
            </setting>
            <setting name="CaretStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorBC" serializeAs="String">
                <value>63, 63, 63</value>
            </setting>
            <setting name="LineNumBc" serializeAs="String">
                <value>12, 12, 12</value>
            </setting>
            <setting name="LineNumFc" serializeAs="String">
                <value>Red</value>
            </setting>
        </Json_Editor.Settings1>
    </userSettings>
    <applicationSettings>
        <Json_Editor.Properties.Settings1>
            <setting name="EditorBC" serializeAs="String">
                <value>63, 63, 63</value>
            </setting>
            <setting name="LineNumBc" serializeAs="String">
                <value>12, 12, 12</value>
            </setting>
            <setting name="LineNumFc" serializeAs="String">
                <value>Red</value>
            </setting>
        </Json_Editor.Properties.Settings1>
        <Json_Editor.Properties.JEapp>
            <setting name="BackColor" serializeAs="String">
                <value>32, 32, 32</value>
            </setting>
        </Json_Editor.Properties.JEapp>
    </applicationSettings>
</configuration>